<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
<script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.16/dist/js/bulma-calendar.min.js"></script>
<script>
  // Initialize all input of date type.
  // const calendars = bulmaCalendar.attach('[type="datetime-local"]', {
  //   dateFormat: 'dd.MM.yyyy', // 01.01.2021
  //   timeFormat: 'HH:mm:ss',
  //   lang: 'ru',
  //   weekStart: 1,
  //   // displayMode: 'inline'
  // });

  // // Loop on each calendar initialized
  // calendars.forEach(calendar => {
  //   console.log(calendar);
  //   // Add listener to select event
  //   calendar.on('select', date => {
  //     console.log(date);
  //   });
  // });
</script>