<meta charset="UTF-8" />
<title>EJS Is Fun</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.16/dist/css/bulma-calendar.min.css" />
<script src="https://kit.fontawesome.com/a111302b70.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />