<%- include('../partials/top') %>
<h1 class="title">Произошла ошибка</h1>
<div class="box">
  <h2 class="subtitle"><%= code %></h2>
  <p style="white-space: pre-wrap; font-family: 'Courier New', monospace;"><%= message %></p>
</div>
<%- include('../partials/bottom') %>