<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <div class="container pt-5">
      <form action="/projects/" method="post">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="document" />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label"> Choose a file… </span>
            </span>
          </label>
        </div>
      </form>
      <% projects.forEach(project => {%>
      <p><%=project._id%></p>
      <%});%>
    </div>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
