<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <div class="container pt-5">
      <a href="/auth/login" class="button is-info">Войти</a>
    </div>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
